AGENT__MODEL=
AGENT__OPENAI_API_KEY=
AGENT__OPENAI_BASE_URL=
AGENT__MCP_AUTH_TOKEN=
AGENT__LANGFUSE__HOST=https://us.cloud.langfuse.com
AGENT__LANGFUSE__PUBLIC_KEY=
AGENT__LANGFUSE__SECRET_KEY=
MINIO_ROOT_USER=minio_user
MINIO_ROOT_PASSWORD=minio_password
VISION__MODEL=
VISION__OPENAI_API_KEY=
VISION__OPENAI_BASE_URL=
VISION__VIDEO_FRAME_COUNT=6
TAVILY_API_KEY=
